  <nav>
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#"></a>
          </div>
          <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">User Service</a>
                <ul>
                    <li><a href="add-user">Add User</a></li>
                  <li><a href="find-user">Find User</a></li>
                  <li><a href="update-user">Update User</a></li>
                  <li><a href="delete-user">Delete User</a></li>
                </ul>
              </li>
              <li><a href="#">Product Service</a>
                <ul>
                  <li><a href="add-category">Add Category/SubCategory</a></li>
                  <li><a href="add-product">Add Product</a></li>
                  <li><a href="search-product">Search Product</a></li>
                  <li><a href="update-product">Update Product</a></li>
                  <li><a href="delete-product">Delete Product</a></li>
                </ul>
              </li>
          </ul>
      </div>
  </nav>

